
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post">
    <input type="text" class="form-control" placeholder="Course Name"  name="Title" />
    <input type="text" class="form-control" placeholder="Credit Hour"  name="CreditHr" />
    <input type="text" class="form-control" placeholder="Type"  name="Type" />
    <input type="submit" value="Create" class="btn btn-success" />

</form>